span{

	background-color: black;
	color: green;
}
#sp1{
    background-color: grey;
    color: black;
    font-size: 30px;
    border: 3px double black;

}

table{
	background-color: gray;
	border-color: black;
}

html {
	background-color: dimgray;
}
.html-marquee {
  background-color:#000000;
  font-family:Cursive;
  font-size:14px;
  color:#44ff00;
  font-weight:bold;
  border-width:1;
  border-style:solid;
  border-color:#000000;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
}

details[open] {
    padding: .5em;
    cursor: pointer;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
      cursor: pointer;
}
.td1{
  text-align: center;
}